<form class="adminform" action="/studentAchievements" method="post">
    <div class="container-fluid h-100 bg-light text-dark">
        <br>
        <div class="row justify-content-left align-items-center h-100">
            <div class="col col-sm-6 col-lg-4 col-xl-3">
                <div class="form-group">
                  <label for="departement" class="form-label">Choose the departments<span style="font-style:italic; font-size:10px;color:gray;"><br/>(Multiple selection available)</span> </label>
                    <select class="mul-select" multiple="true" name="department" required>
                        <% 
                        for(var i =0; i < departments.length; ++i) { %>
                            <option  value="<%=departments[i]%>"><%=departments[i]%></option>
                        <% }%>
                    </select>
                </div> 
              </div>
              <div class="col col-sm-6 col-lg-4 col-xl-3">
                <div class="form-group">
                  <label for="batch" class="form-label">Choose the batch<span style="font-style:italic; font-size:10px;color:gray;"><br/>(Multiple selection available)</span> </label>
                    <select class="mul-select" multiple="true" name="batch" required>
                      <option value="all">All</option>
                      <% 
                      for(var i =0; i < batch.length; ++i) { %>
                          <option  value="<%=batch[i]%>"><%=batch[i]%></option>
                      <% }%>
                    </select>
                </div> 
              </div>
              <div class="col-12 col-sm-1 mt-3">
                <label for="from_year" class="form-label">From</label>
                <select name="from_year" class="form-select" id="from_year" required>
                    <% let year = new Date().getFullYear();
                    for(var i = 2012; i < year; ++i) { %>
                        <option  value="<%=i%>"><%=i%></option>
                    <% }%>
                </select>
             </div>

             <div class="col-12 col-sm-1 mt-3">
                <label for="to_year" class="form-label">To</label>
                <select name="to_year" class="form-select" id="to_year" required>
                  <option  value="">--Select From year--</option>
              </select>
           </div>
           <div class="col-3">
             <div class="row">
               <div class="col-9">
                <button class="submitBtn btn mt-5" type="submit" value="Submit">View Student Achievement</button>
               </div>
               <div class="col-3">
                <% if(download == true) {%>
                  <img src="../img/download.svg" class="mt-5 pt-1" width="30">
                <% } else {%>

                   
                  <% }%>
               </div>
              
            
             </div>
            
          </div>
        </div>    
    </div>
</form>
